
config dns2socks
	option enable '0'
	option local_server '127.0.0.1:5300'
	option proxy_server '127.0.0.1:1080'
	option dns_server '8.8.8.8:53'
	option use_http_proxy '0'
	option disable_cache '0'
	option auth_username ''
	option auth_password ''
	option edns_client_subnet ''
	option force_edns '0'

